:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --danger-color: #dc3545;
    --background-color: #f8f9fa;
    --text-color: #ffffff;
  }
  
  .parent-search {
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
  }
  
  .search-bar-container {
    padding-top: 10vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
  }
  
  .selected-result-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    color: #007bff;
    box-shadow: 0px 0px 8px #ddd;
    padding: 10px;
    border-radius: 20px;
    margin: 0.5rem 0;
  }
  .selected-result-item:hover{
    background-color: #efefef;
  }
  .remove-button {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    color: var(--text-color);
  }
  .selected-result-item.selected{
    background-color: #efefef;
  }
  .remove-button:hover {
    opacity: 0.8;
  }

  .tab-list {
    display: flex;
    overflow-x: auto; /* Make tab list scrollable */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
  }
  
  .tab {
    flex: 0 0 auto; /* Prevent tabs from shrinking */
  }
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    .tab-list {
      justify-content: space-around; /* Adjust layout for smaller screens */
    }
  
    .tab {
      padding: 8px 10px; /* Reduce padding on smaller screens */
      font-size: 14px; /* Adjust font size */
    }
  }